<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joellim.singtour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Guide"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".Refund"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".Places"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".RefundBank"
            android:parentActivityName=".Refund" />
        <activity
            android:name=".NightSafari"
            android:parentActivityName=".Places" />
        <activity
            android:name=".Confirm"
            android:parentActivityName=".NightSafari" />
        <activity
            android:name=".Payment"
            android:parentActivityName=".Confirm" />
        <activity android:name=".Receipt" android:parentActivityName=".Payment"></activity>
    </application>

</manifest>